[Unit]
Description=Monitor rpi-shell.service inside Docker
After=docker.service

[Service]
User=qincai
Group=qincai
ExecStart=/home/qincai/docker/linux/web-shell-fedora/systemd/monitor.sh
#Restart=always

[Install]
WantedBy=multi-user.target
