[Unit]
Description=Run web-shell-docker-restarter.service every 600 seconds

[Timer]
OnUnitActiveSec=600
Unit=web-shell-docker-restarter.service

[Install]
WantedBy=timers.target
