[Unit]
Description=Run rpi-monitor.service every 30 seconds

[Timer]
# Replace these with your own user and group
User=qincai
Group=qincai

OnCalendar=*:*:0/30
Unit=web-shell-docker-monitor.service

[Install]
WantedBy=timers.target
