[Unit]
Description=Run web-shell-docker-monitor.service every 30 seconds

[Timer]
OnUnitActiveSec=30
Unit=web-shell-docker-monitor.service

[Install]
WantedBy=timers.target
