[Unit]
Description=Run web-shell-docker-monitor.service every 10 seconds

[Timer]
#OnCalendar=*:*:0/10
OnUnitActiveSec=10
Unit=web-shell-docker-monitor.service

[Install]
WantedBy=timers.target
